<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.christer.project.mapper.InterfaceInfoApplyMapper">

    <insert id="insertInterfaceInfoApplyRecord">
        INSERT INTO t_interface_info_apply_record (
            interface_info_apply_id,
            process_node,
            process_node_id,
            audit_result,
            audit_opinion,
            audit_user_id,
            create_user_id,
            update_user_id
        )
        VALUES (
                   #{interfaceInfoApplyId},
                   #{processNode},
                   #{processNodeId},
                   #{auditResult},
                   #{auditOpinion},
                   #{auditUserId},
                   #{createUserId},
                   #{createUserId}
               )
    </insert>
    <select id="selectApplyRecordList"
            resultType="com.christer.myapicommon.model.vo.InterfaceInfoApplyRecordVO">
        SELECT id,
               interface_info_apply_id,
               process_node,
               process_node_id,
               audit_result,
               audit_user_id,
               (select user_name from user where id = audit_user_id) as auditUserName,
               (select user_name from user where id = create_user_id) as createUserName,
               create_user_id,
               update_user_id,
               create_time,
               update_time
        FROM t_interface_info_apply_record
        WHERE interface_info_apply_id = #{interfaceInfoApplyId}
        and deleted_flag = '0'
    </select>
    <select id="selectApplyCount" resultType="java.lang.Integer">
        select count(*)
        from t_interface_info_apply
        where deleted_flag = '0'
        and process_instance_id in
        <foreach collection="processInstanceIds" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
        and audit_status in ('0', '1')
        <if test="createUserName != null and createUserName !=''">
            and create_user_id in (select id from user where user_name like concat('%',#{createUserName},'%') and deleted_flag = '0')
        </if>
    </select>
    <select id="selectListByCondition" resultType="com.christer.myapicommon.model.entity.InterfaceInfoApply">
        SELECT
            id,
            process_instance_id AS processInstanceId,
            name,
            description,
            url,
            request_params AS requestParams,
            request_header AS requestHeader,
            response_header AS responseHeader,
            method,
            code_json AS codeJson,
            audit_status AS auditStatus,
            create_user_id AS createUserId,
            update_user_id AS updateUserId,
            create_time AS createTime,
            update_time AS updateTime
        FROM t_interface_info_apply
        WHERE deleted_flag = '0'
        and process_instance_id in
        <foreach collection="processInstanceIds" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
        and audit_status in ('0', '1')
        <if test="createUserName != null and createUserName !=''">
            and create_user_id in (select id from user where user_name like concat('%',#{createUserName},'%') and deleted_flag = '0')
        </if>
        limit #{currentPage}, #{pageSize}
        ORDER BY create_time DESC
    </select>
    <select id="selectApplyDoneCount" resultType="java.lang.Integer">
        select count(*)
        from t_interface_info_apply
        where deleted_flag = '0'
        and process_instance_id in
        <foreach collection="processInstanceIds" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
        and audit_status in ('2','3','4')
        <if test="createUserName != null and createUserName !=''">
            and create_user_id in (select id from user where user_name like concat('%',#{createUserName},'%') and deleted_flag = '0')
        </if>
    </select>
    <select id="selectApplyDoneList" resultType="com.christer.myapicommon.model.entity.InterfaceInfoApply">
        SELECT
        id,
        process_instance_id AS processInstanceId,
        name,
        description,
        url,
        request_params AS requestParams,
        request_header AS requestHeader,
        response_header AS responseHeader,
        method,
        code_json AS codeJson,
        audit_status AS auditStatus,
        create_user_id AS createUserId,
        update_user_id AS updateUserId,
        create_time AS createTime,
        update_time AS updateTime
        FROM t_interface_info_apply
        WHERE deleted_flag = '0'
        and process_instance_id in
        <foreach collection="processInstanceIds" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
        and audit_status in ('2','3','4')
        <if test="createUserName != null and createUserName !=''">
            and create_user_id in (select id from user where user_name like concat('%',#{createUserName},'%') and deleted_flag = '0')
        </if>
        limit #{currentPage}, #{pageSize}
        ORDER BY create_time DESC
    </select>
</mapper>